<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content" class="feedback-blok">
<h4>Content score (<span class="elementScore">0</span>)</h4>
<div class="progress">
<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div><div class="h1">
<p class="elementFound row selectionShareable">
<span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">You should add a H1</span>
</p>
<p class="kwFound row selectionShareable"> <span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">The focus keyword "Dhaka" doesn't appear in the H1</span>
</p>
</div>
<div class="text">
<p class="elementFound row selectionShareable">
<span class="score advice negative col-xs-1">
</span>
<span class="result col-xs-11">You should add text</span>
</p>
<p class="wordCount row selectionShareable"> <span class="score advice negative col-xs-1">
</span>
<span class="result col-xs-11">Your text doesn't contain enough words, a minimum of 300 words is recommended</span>
</p>
<p class="kwFound row selectionShareable">
<span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">The focus keyword "Dhaka" doesn't appear in first paragraph of the text</span>
</p>
<p class="kwDensity row selectionShareable">
<span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">You should use the focus keyword keyword "Dhaka" more often, to improve the keyword density (0%)</span>
</p>
</div>
<div class="image">
<p class="elementFound row selectionShareable">
<span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">You should add an image</span></p>
<p class="kwFoundName row selectionShareable">
<span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">The focus keyword "Dhaka" doesn't appear in the image name</span></p>
<p class="kwFoundAlt row selectionShareable"> <span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">The focus keyword "Dhaka" doesn't appear in the image Alt tag</span></p></div>
<div class="link"><p class="elementFound row selectionShareable"> <span class="score advice negative col-xs-1"></span>
<span class="result col-xs-11">Add relevant links to improve user experience and internal link structure</span></p>
</div>
</div>
</body>
</html>